.d-block {
    display: block;
    background-color: aquamarine;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    padding: 15px;
    margin: 20px;
}
.d-inline {
    display: inline;
    background-color: pink;
    width: 1000px;
    height: 200px;
    /* 가로만 적용, 세로는 적용안됨 */
    padding: 15px;
    margin: 20px;    
}
.d-inline-block {
    display: inline-block;
    background-color: skyblue;
    width: 100px;
    height: 100px;
    border: 1px solid gold;
    padding: 15px;
    margin: 20px;
}
.parent {
    width: 400px;
    height: 200px;
    background-color: salmon;
    /* 
    width: 300px; -> min-width는 그대로 400
    width: 500px; -> max-width는 그대로 400
    */
}
.parent > .min {
    min-width: 400px;
    height: 100px;
    background-color: gold;
}
.parent > .max {
    max-width: 400px;
    height: 100px;
    background-color: greenyellow;
}
.box {
    background-color: burlywood;
    border: 1px solid black;
}
.box-px {
    width: 50px;
    height: 50px;
}
.box-view {
    /* viewport 보이는 화면의 퍼센테이지로 적용 */
    width: 50vw;
    height: 50vh;
}
.box-per {
    /* 부모 기반 퍼센트 현재는 body*/
    width: 50%;
    /* body는 기본적으로 높이가 없음 */
    height: 50%;
}

/* em, rem은 글자 이외에도 다양한 크기 설정에 사용할 수 있다. */
/* 1rem = 16px, 비례해서 증가 */
.rem {
    /* 32px */
    font-size: 2rem;
}

/* 부모의 글꼴을 가져와서 적용 */
.em {
    font-size: 2em;
}
/* body(16px)의 2배, 4배(64px), 6배가 된 것(128px) */
.square {
    display: inline-block;
    width: 100px;
    height: 100px;
    /* 손가락 모양으로 바뀜 */
    cursor: pointer;
    background-color: palegoldenrod;
}
.border {
    background-color: skyblue;
    /* 단축 속성: 굵기 모양 색깔 */
    /* border: 3px solid gray; */
    border-color: gray red blue;
    border-style: dotted;
    border-width: 3px;
}
.rounded {
    background-color: pink;
    /* border-radius: 50%; */
    border-radius: 5px 10px 20px 40px;
    border-radius: 5px 20px 40px;
    border-radius: 5px 40px;
}
.bor {
    width: 200px;
    height: 200px;
    border: 5px solid salmon;
    background-color: beige;
    border-radius: 10px 5px 50px 30px;
}
.box-sizing {
    padding: 20px;
    border: 15px solid green;
    background-color: greenyellow;
}
.content-box {
    /* 기본값이 content-box */
    box-sizing: content-box;
}
.border-box {
    /* padding, border를 사이즈 내부에서 해결 */
    box-sizing: border-box;
}
.d-none {
    /* 속성+자리 0*/
    display: none;
    background-color: red;
}
.invisible {
    /* 속성 0 */
    visibility: hidden;
    background-color: orangered;
}
.opacity-0 {
    /* 보이는것만 0 */
    opacity: 0;
    background-color: tomato;
}
.testBox {
    width: 200px;
    height: 200px;
    background-color: blue;
}
.testBox:hover {
    opacity: 0;
}
img {
    width: 200px;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-auto {
    overflow: auto;
}
.overflow-scroll {
    overflow: scroll;
}
.overflow-visible {
    /* 기본값 */
    overflow: visible;
}
    